<div class="modal fade" id="newGuildEventModal" tabindex="-1" role="dialog" aria-labelledby="newGuildEventModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newGuildEventModalLabel">Nouvel évènement</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ form_start(form) }}
                <div class="form-group mb-3">
                    {{ form_label(form.title, 'Event Title', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="row">
                    <div class="col-md-6 form-group mb-3">
                        {{ form_label(form.type, 'Event Type', {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(form.type, {'attr': {'class': 'form-select'}}) }}
                    </div>
                    <div class="col-md-6 form-group mb-3">
                        {{ form_label(form.color, 'Event Color', {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(form.color, {'attr': {'class': 'form-control form-control-color'}}) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group mb-3">
                        {{ form_label(form.start, 'Start Time', {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(form.start, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="col-md-6 form-group mb-3">
                        {{ form_label(form.end, 'End Time', {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(form.end, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-primary">Ajouter</button>
            </div>
        </div>
    </div>
</div>
