<div class="accordion" id="eventDetailsAccordion">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingEventDetails">
            <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#collapseEventDetails" aria-expanded="false" aria-controls="collapseEventDetails">
                Participation
            </button>
        </h2>
        <div id="collapseEventDetails" class="accordion-collapse collapse" aria-labelledby="headingEventDetails" data-bs-parent="#eventDetailsAccordion">
            <div class="accordion-body">
                <div class="row pt-4 pb-4">
                    <div class="col text-center">
                        <span class="ge-attendance-title">Participants</span>
                        <ul class="list-group list-unstyled">
                            <li class="mb-3"><span class="ge-attendance-title">{{ get_event_player_count(guild_event.id) }} / {{ max_player_slots }}</span></li>
                            {% for event_attendance in get_attendance_list_by_type(guild_event.id, 'Inscrit') %}
                                <li>
                                    <span class="ge-attendance-text {{ event_attendance.user.username == app.user.username ? 'custom-link-primary' : ''}}">{{ event_attendance.user.username }}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col text-center">
                        <span class="ge-attendance-title">Backups</span>
                        <ul class="list-group list-unstyled mt-3">
                            {% for event_attendance in get_attendance_list_by_type(guild_event.id, 'Backup') %}
                                <li>
                                    <span class="ge-attendance-text {{ event_attendance.user.username == app.user.username ? 'custom-link-primary' : ''}}">{{ event_attendance.user.username }}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col text-center">
                        <span class="ge-attendance-title">Absents</span>
                        <ul class="list-group list-unstyled mt-3">
                            {% for event_attendance in get_attendance_list_by_type(guild_event.id, 'Absent') %}
                                <li>
                                    <span class="ge-attendance-text {{ event_attendance.user.username == app.user.username ? 'custom-link-primary' : ''}}">{{ event_attendance.user.username }}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div class="row pt-4 pb-4">
                    {% set user_is_backup = does_user_have_attendance_of_type(guild_event.id, 'Backup', app.user.id) %}
                    {% set user_is_absent = does_user_have_attendance_of_type(guild_event.id, 'Absent', app.user.id) %}

                    <div class="col text-center">
                        {% if can_user_signup(guild_event.id) %}
                            <a href="{{ path('event_attendance_add_user', {'guildEvent': guild_event.id, 'attendanceType': 'Inscrit'}) }}" class="btn btn-primary p-1 ge-attendance-text">S'inscrire</a>
                        {% endif %}
                    </div>
                    <div class="col text-center">
                        {% if not user_is_backup %}
                            <a href="{{ path('event_attendance_add_user', {'guildEvent': guild_event.id, 'attendanceType': 'Backup'}) }}" class="btn btn-warning p-1 ge-attendance-text">Passer backup</a>
                        {% endif %}
                    </div>
                    <div class="col text-center">
                        {% if not user_is_absent %}
                            <a href="{{ path('event_attendance_add_user', {'guildEvent': guild_event.id, 'attendanceType': 'Absent'}) }}" class="btn btn-danger p-1 ge-attendance-text">Passer absent</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>