<div class="row centered-div">
        {% for column in attendances %}
            <div class="col text-center ms-0 me-0 p-0 {{ not loop.first ? 'cst-border-left' : '' }}">
                <ul class="list-group list-unstyled">
                    {% for attendance in column %}
                        <li>
                            {{ get_attendance_icon(attendance.type)|raw }} <span class="{{ attendance.user == app.user ? 'custom-link-primary' : '' }}">{{ attendance.user.username }}</span>
                            {% if attendance.type.value == 'Joueur' and can_user_manage_event(guild_event.id) %}
                                <form id="delete{{ attendance.id }}" method="post" action="{{ path('event_attendance_remove', {'id': attendance.id}) }}" data-controller="guild-event--remove-attendance" data-current-user="{{ app.user.username }}" data-attendance-user="{{ attendance.user.username }}" class="d-inline">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ attendance.id) }}">
                                    <a type="button" class="text-decoration-none link-danger" id="{{ attendance.id }}" data-action="guild-event--remove-attendance#confirmRemove" title="Enlever un joueur" data-bs-toggle="tooltip">
                                        <i class="bi bi-x-lg ps-2"></i>
                                    </a>
                                </form>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
</div>

<div class="row mt-5">
    {% set user_is_backup = does_user_have_attendance_of_type(guild_event.id, 'Backup', app.user.id) %}
    {% set user_is_absent = does_user_have_attendance_of_type(guild_event.id, 'Absent', app.user.id) %}

    <div class="col text-center mb-2">
        {% if can_user_signup(guild_event.id) %}
            <a href="{{ path('event_attendance_add_user', {'guildEvent': guild_event.id, 'attendanceType': 'Joueur'}) }}" class="btn btn-primary ge-attendance-text ps-1 pe-1 ms-1 me-1" title="S'inscrire à l'évènement" data-id="signUpButton">S'inscrire</a>
        {% endif %}

        {% if not user_is_backup %}
            <a href="{{ path('event_attendance_add_user', {'guildEvent': guild_event.id, 'attendanceType': 'Backup'}) }}" class="btn btn-secondary ge-attendance-text ps-1 pe-1 ms-1 me-1" title="Passer en backup">Passer backup</a>
        {% endif %}

        {% if not user_is_absent %}
            <a href="{{ path('event_attendance_add_user', {'guildEvent': guild_event.id, 'attendanceType': 'Absent'}) }}" class="btn btn-danger ge-attendance-text ps-1 pe-1 ms-1 me-1" title="Se déclarer absent">Passer absent</a>
        {% endif %}
    </div>
</div>