{% extends 'base.html.twig' %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-11 col-xs-11 col-sm-10 col-md-8 col-lg-6">
            <div class="card rounded-0">
                <div class="card-header text-center">
                    <h5 class="modal-title">Modifier un combat</h5>
                </div>
                <div class="card-body">
                    {{ form_start(form) }}
                    <div class="form-group mb-5">
                        {{ form_label(form.encounter, null, {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(form.encounter) }}
                    </div>
                    {% for i in 0..(max_player_slots - 1) %}
                        {% set form_player_slot = form['playerSlot' ~ i] %}
                        <div class="row mb-4 ge-vertical-center">
                            <div class="form-group col-12 mb-2">
                                {% if form_player_slot.vars.data.player is not null %}
                                    <span class="me-3 ge-text {{ form_player_slot.vars.data.player.username == app.user.username ? 'custom-link-primary' : ''}}">
                                        <img class="small-icon rounded-circle" src="{{ asset('profile_picture/' ~ form_player_slot.vars.data.player.profilePicture) }}" alt="Profile">
                                        {{ form_player_slot.vars.data.player.username }}
                                    </span>
                                {% else %}
                                    <span>Slot libre</span>
                                {% endif %}
                            </div>
                            <div class="form-group col-auto">
                                {{ form_label(form_player_slot.tank, null, {'label_attr': {'class': 'form-label'}}) }}
                                {{ form_widget(form_player_slot.tank) }}
                            </div>
                            <div class="form-group col">
                                {{ form_label(form_player_slot.build, null, {'label_attr': {'class': 'form-label'}}) }}
                                {{ form_widget(form_player_slot.build) }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="d-flex justify-content-end mt-2 mb-3 me-3">
                    <a class="btn btn-secondary me-2" href="{{ path('guild_event_show', {'id': guild_event.id}) }}">Retour</a>
                    <button type="submit" class="btn btn-primary">Modifier</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
