{% extends 'base.html.twig' %}

{% block title %}GuildEvent index{% endblock %}

{% block body %}
    <h1>GuildEvent index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Type</th>
                <th>Start</th>
                <th>End</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for guild_event in guild_events %}
            <tr>
                <td>{{ guild_event.id }}</td>
                <td>{{ guild_event.title }}</td>
                <td>{{ guild_event.type.value }}</td>
                <td>{{ guild_event.start ? guild_event.start|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ guild_event.end ? guild_event.end|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('guild_event_show', {'id': guild_event.id}) }}">show</a>
                    <a href="{{ path('guild_event_edit', {'id': guild_event.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('guild_event_new') }}">Create new</a>
{% endblock %}
