{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('calendar_index') }}" class="btn btn-secondary mb-3 ms-1" title="Retour"><i class="bi bi-arrow-left h4"></i></a>

    <div class="row border rounded ms-1 me-1 p-3">
        <h2>{{ guild_event.title }}  <span class="small-head-text">Le {{ guild_event.start|date('d') }} {{ ('month_names.' ~ guild_event.start|date('F'))|trans }} de {{ guild_event.start|date('H\\hi') }} à {{ guild_event.end|date('H\\hi') }}</span></h2>
        <hr>
        {{ include('guild_event/components/_toolbar.html.twig') }}

        <p></p>

        {{ include('guild_event/components/_event_encounters.html.twig') }}
    </div>
{% endblock %}
