{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <h1 class="clargemarginbottom">Classes</h1>

        <div class="row row-cols-auto d-flex justify-content-center">
            {% for job in jobs %}
                <div>
                    <div class="card text-center cmarginbottom">
                        <img src="{{ asset('icon/' ~ job.icon) }}" class="card-img-top cardIcon" alt="{{ job.name }}">
                        <div class="card-body">
                            <h5 class="card-title" style="color:{{ job.color }}">{{ job.name }}</h5>
                            <a type="button" class="btn btn-secondary cmarginbottom" href="{{ path('job_edit', {'id': job.id}) }}">
                                Modifier
                            </a>
                            <a href="{{ path('specialization_show_by_job', {'id': job.id}) }}" class="btn btn-primary">Spécialisations</a>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-sm-12">
                    <p>Aucune classe n'a été trouvée</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
