<div class="modal fade" id="manageGuildEventModal" tabindex="-1" role="dialog" aria-labelledby="manageGuildEventModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">

                {% if guild_event is defined %}
                    {% set modal_title = 'Modifier un événement' %}
                    {% set modal_submit_text = 'Modifier' %}
                {% else %}
                    {% set modal_title = 'Ajouter un événement' %}
                    {% set modal_submit_text = 'Ajouter' %}
                {% endif %}

                <h5 class="modal-title" id="manageGuildEventModalLabel">{{ modal_title }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ form_start(form) }}
                    <div class="form-group mb-3">
                        {{ form_label(form.title, null, {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="row">
                        {% if guild_event is not defined %}
                            <div class="col-12 col-md-6 form-group mb-3">
                                {{ form_label(form.type, null, {'label_attr': {'class': 'form-label'}}) }}
                                {{ form_widget(form.type, {'attr': {'class': 'form-select'}}) }}
                            </div>
                        {% endif %}
                        <div class="col-8 col-md-3 form-group mb-3">
                            {{ form_label(form.guildRaid, null, {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(form.guildRaid, {'attr': {'class': 'form-select'}}) }}
                        </div>
                        <div class="col-4 col-md-3 form-group mb-3">
                            {{ form_label(form.color, null, {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(form.color, {'attr': {'class': 'form-control form-control-color'}}) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col 12col-md-6 form-group mb-3">
                            {{ form_label(form.start, null, {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(form.start) }}
                        </div>
                        <div class="col 12col-md-6 form-group mb-3">
                            {{ form_label(form.end, null, {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(form.end) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 form-group mb-3">
                            {{ form_label(form.oldMembersAllowed, null, {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(form.oldMembersAllowed, {'attr': {'class': 'form-select'}}) }}
                        </div>
                        <div class="col-6 form-group mb-3">
                            {{ form_label(form.membersManageEvent, null, {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(form.membersManageEvent, {'attr': {'class': 'form-select'}}) }}
                        </div>
                    </div>
            </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    <button type="submit" class="btn btn-primary">{{ modal_submit_text }}</button>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
