{% extends 'base.html.twig' %}

{% block body %}
    <h1>Rapport d'activité des utilisateurs</h1>

    {# Filters #}
    <div class="mt-3 mb-3 row">
        <div class="col-12 col-md-auto mb-2 mb-md-0">
            <select id="logTypeFilter" class="selectpicker" data-style-base="form-control" title="Filtrer par type" multiple>
                {% for log_type in log_types %}
                    <option value="{{ log_type }}" data-content="{{ log_type }}"></option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="table-responsive mt-3">
        <table class="nowrap table table-striped table-hover border w-100" data-controller="user-activity-log--table">
            <caption class="d-none">Table des logs utilisateurs</caption>
            <thead class="thead-dark">
            <tr>
                <th>Date</th>
                <th>Type</th>
                <th>Message</th>
            </tr>
            </thead>
            <tbody>
            {% for log in logs %}
                <tr>
                    <td>{{ log.date|date('d/m/Y à H:i:s') }}</td>
                    <td>{{ log.type.value }}</td>
                    <td>{{ log.logMessage }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Aucun résultat</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
