{% extends 'base.html.twig' %}

{% block body %}
    <h1>Instance index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Tag</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for instance in instances %}
            <tr>
                <td>{{ instance.id }}</td>
                <td>{{ instance.name }}</td>
                <td>{{ instance.tag }}</td>
                <td>
                    <a href="{{ path('instance_edit', {'id': instance.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('instance_new') }}">Create new</a>
{% endblock %}
