<!DOCTYPE html>
<html lang="fr" data-bs-theme="dark">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}RaidPlanner{% endblock %}</title>
        <link rel="icon" href="{{ asset('logo/VirtualSquirrelsLogo.png') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block header %}
            {{ include('components/navbar/_navbar.html.twig') }}
        {% endblock %}
        {% block body %}{% endblock %}
        {% block calendarJs %}{% endblock %}
    </body>

    {% block footer %}
        {{ include('components/footer/_footer.html.twig') }}
    {% endblock %}
</html>
