<div class="modal fade" id="editProfileModal" tabindex="-1" role="dialog" aria-labelledby="editProfileModalLabel" aria-hidden="true" data-bs-focus="false">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editProfileModalLabel">Modifier son profil</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ form_start(form) }}
                <div class="form-group mb-3">
                    {{ form_label(form.username, null, {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
                </div>
               <div class="form-group mb-3">
                    {{ form_label(form.profilePicture, null, {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.profilePicture, {'attr': {'class': 'form-control'}}) }}
               </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                <button type="submit" class="btn btn-primary">Modifier</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
